.product-view {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-left: 20px;
  padding: 20px;
  flex-direction: column;
}
.product-details {
    flex-direction: column;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
.add-to-cart {
  padding: 12px 20px;
  background: #111827;
  width: fit-content;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}
.product-price {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 2px;
  color: #111827;
}
.ava{
  color: #44f618;
  font-size: large;
}
.avl{
  color: #ef4444;
}
.add-to-cart:hover {
  background-color: rgb(100, 247, 100);
  color: #fff;
  border-color: transparent;
}
.product-price-section{
  display: flex;
  flex-direction: column;
  
}
.product-original{
  font-size: 1rem;
  color: #6b7280;
  text-decoration: line-through;
  margin-right: 15px;
}

.product-discount{
  font-size: 1rem;
  color: #ef4444;
  font-weight: 600;
}

.qty-input{
  width: 60px;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;

}
.product-quantity{
  display: flex;
  align-items: center;
  gap: 10px;
}
.quantity-control{
  display: flex;
  align-items: center;
  gap: 2px;
}
.qty-btn{
  padding: 8px 12px;
  background: #e5e7eb;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}
.product-image img{
  height: 100%;
  aspect-ratio: 1/1;
  width: 100%;
}